@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 12 10 9;
  /*--main-color: 94 234 212;*/
  /*--main-color: 251 146 60;*/
  --main-color: 250 204 21;
  --main-text-color: 214 211 209;
  --dark-text-color: 120 113 108;
  --border-color: 68 64 60;
}

body {
  background: rgb(var(--background-color));
}

.basic-button {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
