@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 12 10 9;
  --main-color: 191 210 0;
  --main-text-color: 214 211 209;
  --dark-text-color: 120 113 108;
  --border-color: 68 64 60;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(var(--background-color));
  overflow-x: hidden;
}

body.scroll-blocked {
  overflow-y: hidden;
}

#header-menu.hidden-menu {
  top: -100%;
  height: auto;
}

#header-menu {
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: height 2s, top 1s;
}
